<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Loading</title>
  <link rel="icon" type="image/x-icon" href="C:\Users\nirva\OneDrive\srry\static\images\snapstudy_favicon_transparent.ico">

<!-- <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css"> -->


    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css">
    <link rel="icon" type="image/x-icon" href="static\images\favicon.ico">

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script>


      function checkTaskStatus() {
          $.ajax({
              url: "{{ url_for('check_status') }}",  // URL to check task status
              method: "GET",
              success: function(response) {
                  if (response === "True") {
                      // Redirect to the task completion page
                      window.location.href = "{{ url_for('flashcards') }}";
                  } else {
                      // Keep polling every 2 seconds
                      setTimeout(checkTaskStatus, 2000);
                  }
              },
              error: function() {
                  console.log("Error checking task status.");
              }
          });
      }

      // Start polling when the page loads
      $(document).ready(function() {
          checkTaskStatus();
      });
  </script>
</head>
<body>
    <header>
        <div style="width:80%;" class = container>
            <nav>
                <ul>
                <li><strong>Cardinalis.ai</strong></li>
                </ul>
                <ul>
                <li><a href="/">Try It</a></li>
                <li><a href="/settings">⚙️</a></li>

                </ul>
            </nav>

        </div>
    </header>

    <main>
    

        <article aria-busy="true"></article>

    </main>

</body>
</html>    